<section class="s-footer">
    <div class="s-footer__overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="s-footer__wrap">
                    <div class="s-footer__block">
                        <p class="s-footer__block-title">Контакты</p>
                        <div class="s-footer__block-contact">
                            <p>Телефон:</p>
                            <a href="tel:+7 495 477 33 92">+7 495 477 33 92</a>
                        </div>
                        <div class="s-footer__block-contact">
                            <p>E-mail:</p>
                            <a href="mailto: russia@mvagusta.com">russia@mvagusta.com</a>
                        </div>
                    </div>

                    <div class="s-footer__block">
                        <a href="{{ path('homepage') }}" class="brand-logo">
                            <img src="{{ asset('img/logo-main.svg') }}" alt=""/>
                        </a>

                        <div class="s-footer__socials-wrap">
{#                            <a href="https://www.instagram.com/mvagustarussia/" class="s-footer__social-link">#}
{#                                <img src="{{ asset('/img/icon-telegram.svg') }}" alt="" class="image_svg"/>#}
{#                            </a>#}
{#                            <a href="https://www.facebook.com/mvagustamotorrus" class="s-footer__social-link">#}
{#                                <img src="{{ asset('img/icon-facebook.svg') }}" alt="" class="image_svg"/>#}
{#                            </a>#}
{#                            <a href="https://api.whatsapp.com/send?phone=+7 995 880 00 59&amp;text=%20" target="_blank" class="s-footer__social-link">#}
{#                                <img src="{{ asset('/img/icon-whatsapp.svg') }}" alt="" width="18" class="image_svg"/>#}
{#                            </a>#}
{#                            <a href="#" class="s-footer__social-link">#}
{#                                <img src="{{ asset('img/icon-youtube.svg') }}" alt="" class="image_svg"/>#}
{#                            </a>#}
{#                            <a href="#" class="s-footer__social-link">#}
{#                                <img src="{{ asset('img/icon-vimeo.svg') }}" alt="" class="image_svg"/>#}
{#                            </a>#}
                        </div>

                        <a href="#modalPolicy" class="s-footer__policy policy_modal-link modal-trigger">Политика конфиденциальности</a>
                    </div>

                    <div class="s-footer__block">
                        <a href="{{ path('company') }}" class="s-footer__link">О компании</a>
                        <a href="{{ path('company') }}#about2" class="s-footer__link">О дилере</a>
{#                        <a href="#" class="s-footer__link">Скачать каталог</a>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
